<div class="phase-notice gov-border">
  <div class="prototype-warning">
  	<strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="https://www.surveymonkey.com/s/MFNR7NZ" target="_blank" rel="external">feedback</a> will help to improve it.</span>
  </div>
  <div class="account-info sign-in" id="bannerSignedOut">
  	<a href="/apprentice/profile-signin.html?"><i class="fa fa-sign-in"></i>Sign in</a>
  </div>
  <div class="account-info sign-out" id="bannerSignedIn" style="display: none;">
  	<span class="your-name" id="bannerUserName">Your Name</span>
    <div>
      <div class="inl-block top-align">
        <details class="font-xsmall no-btm-margin">
          <summary class="small-btm-margin font-xsmall">My applications</summary>
          <div class="detail-content">
            <ul class="list-text ta-left no-btm-">
              <li>
                <a id="" href="/apprentice/dashboard-alt02.html">Apprenticeships</a>
              </li>
              <li>
                <a id="" href="/apprentice/dashboard-alt02-traineeships.html">Traineeships</a>
              </li>
            </ul>
          </div>
        </details>
      </div>
      <div class="inl-block top-align">
        <a href="/apprentice/settings.html" id="settingsLink">Settings</a>
      </div>
      <div class="inl-block top-align">
        <a href="/apprentice/profile-signin.html?Status=signout" id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
      </div>
    </div>
  </div>
</div>