<div class="related-section">
	<h2 id="find-out-more"  class="heading-medium">Find out more</h2>
	<nav role="navigation" aria-labelledby="find-out-more">
		<ul class="list-nav">
			<li><a href="/employer/info-your-responsibilities.html">What are your responsibilities as an employer?</a></li>

			<li><a href="/employer/info-understand-roles-of-parties-involved.html">Who's involved in an apprenticeship?</a></li>

			<li><a href="/employer/info-what-to-expect-from-your-apprentice.html">What to expect from your apprentice</a></li>

			<li><a href="/employer/info-what-to-expect-from-your-provider.html">What to expect from your training provider</a></li>

			<li><a href="/employer/info-what-to-expect-from-government.html">What to expect from the government</a></li>
{{!--
			<li><a href="/employer/info-know-what-a-standard-is.html">Know what a standard is</a></li>
			<li><a href="/employer/info-know-the-typical-timeframe.html">Know the typical timeframe</a></li>
 --}}
 		</ul>
	</nav>
</div>