        <!-- ALPHA Phase banner START -->
        <div class="prototype-warning">
          <strong class="alpha__label">Alpha</strong> <span>This is a prototype</span>
        </div>
        <!-- ALPHA Phase banner END -->
        