        <div class="prototype-warning">
          <strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="https://www.surveymonkey.com/s/MFNR7NZ" target="_blank" rel="external">feedback</a> will help improve it.</span>
        </div>