    <article>
        <header>
            <h3 class="heading-xsmall"><a href="/employer/standard-details.html">Apprenticeship standard for advanced carpentry and joinery</a></h3>
        </header>
    </article>
