                    <div class="grid-wrapper">
                        <section class="description grid grid-1-2">
                            <p>Actuarial technicians use statistics to predict how the finances of people and businesses will change. They carry out a number of jobs, from setting car insurance premiums to helping customers plan for retirement.</p>
                            <details>
                                <summary aria-controls="helpText" role="button" aria-expanded="false">Learn more</summary>
                                <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
                                    <ul class="list-text summary xgrid-wrapper">
                                        <li class="timeframe xgrid xgrid-1-2">
                                            <h3 class="heading-small">How long does the apprenticeship last?</h3>
                                            <p class="font-xsmall">The apprenticeship usually takes <strong>2-3 years</strong>.</p>
                                        </li>
                                        <li class="qualifications xgrid xgrid-1-2">
                                            <h3 class="heading-small">What qualifications does the apprenticeship lead to?</h3>
                                            <p class="font-xsmall">This is a <a href="#">level 4 apprenticeship.</a></p>
                                            <p class="font-xsmall">Apprentices who complete it also become members of the Institute and Faculty of Actuaries.</p>
                                        </li>
                                    </ul>
                                    <p>
                                        <a href="/employer/standard-details.html" title="Apprenticeship standard for advanced carpentry and joinery details"> Read more</a>
                                    </p>
                                </div>
                            </details>
                        </section>
                        <div class="grid grid-1-2">
                            <section>
                                <h3 class="heading-small">Estimated funding</h3>
                                <p class="data-48">&pound;6000 &ndash; &pound;8000</p>
                            </section>
                            <section>
                                <p>
                                    <section class="get-started">
                                        <strong class="bold-medium">7</strong> providers in your area <em>[N13 5PP]</em><br/>
                                        <a href="#" class="button">View providers</a>
                                    </section>

                                </p>
                            </section>
                        </div>
                    </div>
