                    <section class="description">
                        <p>Actuarial technicians use statistics to predict how the finances of people and businesses will change. They carry out a number of jobs, from setting car insurance premiums to helping customers plan for retirement.</p>
                    </section>
                    <details>
                        <summary aria-controls="helpText" role="button" aria-expanded="false">Learn more</summary>
                        <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
                            <ul class="list-text summary">
                                <li class="qualifications">
                                    <p>This is a <a href="#">level 4 apprenticeship.</a></p>
                                    <p>Apprentices who complete it also become members of the Institute and Faculty of Actuaries.</p>
                                </li>
                                <li class="timeframe">The apprenticeship usually takes <strong>2-3 years</strong>.</li>
                            </ul>
                            <p>
                                <a href="#" class="button">Find providers</a>
                                <a href="/employer/standard-details.html" title="Apprenticeship standard for advanced carpentry and joinery details">Learn more about this standard</a>
                            </p>
                        </div>
                    </details>
