    <article>
{{!--         <header>
            <h3 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for advanced carpentry and joinery</a></h3>
        </header>
 --}}
         <section>
            <details>
                <summary aria-controls="helpText" role="button" aria-expanded="false"><strong>Apprenticeship standard for advanced carpentry and joinery</strong></summary>
                <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
                    <p>Actuarial technicians use statistics to predict how the finances of people and businesses will change. They carry out a number of jobs, from setting car insurance premiums to helping customers plan for retirement.</p>
                    <a href="../employer/standard-details.html">Read more about this apprenticeship</a>
                </div>
            </details>
        </section>
        <div class="grid-wrapper">
            <section class="grid grid-2-3 standard-parameters">
                    <p class="no-btm-margin">
                        Estimated costs:
                        <strong>&pound;4800</strong>
                        <span class="font-xxsmall">(average funding: <strong>60%</strong>)</span>
                    </p>
                    <p class="no-btm-margin">
                        Length:
                        <strong>2 years</strong>
                    </p>
                    <p class="no-btm-margin">
                        Level:
                        <strong>4</strong>
                    </p>
            </section>
            <section class="grid grid-1-3 standard-cta">
                <p class="no-btm-margin">
                    <strong>7</strong> providers near <strong>N13 5PP</strong>
                </p>
                <p class="font-small"><a href="#">change area</a></p>
                <a href="#" class="button">Search for providers</a>
            </section>
        </div>
    </article>
