body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:490px;
  top:214px;
  width:460px;
  height:186px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:186px;
}
#u1 {
  position:absolute;
  left:2px;
  top:85px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:540px;
  width:460px;
  height:210px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:210px;
}
#u3 {
  position:absolute;
  left:2px;
  top:97px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:50px;
  width:940px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:6px;
  width:40px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:9px;
  width:124px;
  height:37px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:354px;
  top:12px;
  width:250px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:10px;
  top:110px;
  width:940px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u16 {
  position:absolute;
  left:10px;
  top:78px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:81px;
  top:80px;
  width:445px;
  height:18px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:779px;
  top:79px;
  width:171px;
  height:15px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:10px;
  top:120px;
  width:500px;
  height:55px;
  font-size:48px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:10px;
  top:185px;
  width:940px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u26 {
  position:absolute;
  left:510px;
  top:330px;
  width:420px;
  height:40px;
  font-size:19px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:422px;
  height:43px;
}
#u27 {
  position:absolute;
  left:15px;
  top:9px;
  width:390px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:510px;
  top:236px;
  width:420px;
  height:28px;
  font-size:24px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:557px;
  width:380px;
  height:28px;
  font-size:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:214px;
  width:460px;
  height:126px;
  font-size:24px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:126px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:510px;
  top:274px;
  width:420px;
  height:46px;
  font-size:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:46px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:595px;
  width:420px;
  height:55px;
  font-size:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:55px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:412px;
  width:230px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:10px;
  top:444px;
  width:362px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:10px;
  top:478px;
  width:247px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:490px;
  top:540px;
  width:460px;
  height:210px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:210px;
}
#u45 {
  position:absolute;
  left:2px;
  top:97px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:510px;
  top:558px;
  width:260px;
  height:28px;
  font-size:24px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:510px;
  top:596px;
  width:420px;
  height:34px;
  font-size:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:34px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:30px;
  top:660px;
  width:195px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:510px;
  top:640px;
  width:212px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
