body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:242px;
  width:300px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:242px;
  width:300px;
  height:200px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:650px;
  top:242px;
  width:300px;
  height:200px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:50px;
  width:940px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:6px;
  width:40px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:9px;
  width:124px;
  height:37px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:354px;
  top:12px;
  width:250px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:10px;
  top:110px;
  width:940px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u18 {
  position:absolute;
  left:10px;
  top:78px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:81px;
  top:80px;
  width:445px;
  height:18px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:779px;
  top:79px;
  width:171px;
  height:15px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:778px;
  top:200px;
  width:172px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-decoration:underline;
  color:#3366FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:746px;
  top:200px;
  width:32px;
  height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:262px;
  width:260px;
  height:28px;
  font-size:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:350px;
  top:262px;
  width:260px;
  height:28px;
  font-size:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:670px;
  top:262px;
  width:260px;
  height:28px;
  font-size:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:30px;
  top:310px;
  width:214px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:30px;
  top:342px;
  width:93px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:30px;
  top:374px;
  width:169px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:350px;
  top:310px;
  width:159px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:350px;
  top:342px;
  width:93px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:670px;
  top:310px;
  width:179px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:670px;
  top:342px;
  width:189px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:350px;
  top:374px;
  width:255px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:670px;
  top:374px;
  width:166px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:10px;
  top:472px;
  width:300px;
  height:200px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:200px;
}
#u54 {
  position:absolute;
  left:2px;
  top:92px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:30px;
  top:492px;
  width:260px;
  height:28px;
  font-size:24px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:140px;
  width:214px;
  height:55px;
  font-size:48px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:55px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
