---
headerTitle: Employer Routed Funding
---

<h1 class="heading-xlarge">SFA Employer Routed Funding</h1>
<h2 class="heading-large">Which of the following are you...</h2>
<ul class="form-group">
  <li>
    <a href="#">Apprentice</a>
  </li>
  <li>
    <a href="#">Trainee</a>
  </li>
  <li>
    <a href="employer/profile-signin.html">Employer</a>
  </li>
  <li>
    <a href="#">Training organisation</a>
  </li>
</ul>
