---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>
		<p>Hiring apprentices helps you build a workforce that’s motivated, skilled and qualified. Use this service to choose an apprenticeship and find out about funding.</p>

		{{> estimate-funding-cta }}
		<article>
			<h2 class="heading-large">How hiring works</h2>

			<p>There are six steps to taking on an apprentice:</p>

			<ol class="step-by-step-coloured">
				<li>
					<h3 class="heading-medium">Choose an apprenticeship standard</h3>
					<p>A standard is a list of the skills and knowledge that apprentices will have once they’ve completed their apprenticeships.</p>
					<p>Every job role has a different standard.</p>
					<div class="panel-indent">
						<p><a href="#">Search for apprenticeship standards.</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Find out about funding</h3>
					<p>You may be entitled to funding for your apprenticeship.</p>
					<p>The amount depends on the apprentice’s age and the size of your business, among other things.</p>
					<div class="panel-indent">
						<p><a href="#">Estimate your funding.</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Find a training provider</h3>
					<p>Training providers are colleges or other organisations that carry out your apprentice’s training.</p>
					<p>Sometimes they’ll come to you to train your apprentice. At other times your apprentice will travel to them.</p>
					<div class="panel-indent">
						<p><a href="#">Search for training providers.</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Recruit your apprentice</h3>
					<p>Apprentices can be someone you already know, or someone new.</p>
					<p>Depending on factors like which standard you choose and where you’re based, your apprentice could join you within a few weeks.</p>
					<div class="panel-indent">
						<p><a href="#">Find an apprentice.</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Start the apprenticeship</h3>
					<p>As an employer you’ll have to agree to some simple terms and conditions</p>
					<p>They include asking your apprentice to sign an agreement, and meeting national minimum wage laws.</p>
					<div class="panel-indent">
						<p><a href="#">Read the terms and conditions.</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Complete the apprenticeship</h3>
					<p>Apprentices must be assessed during their programme.</p>
					<p>You can look for assessment organisations yourself or let your training provider do it for you.</p>
				</li>
			</ol>

			{{> estimate-funding-cta }}

		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>