---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<article>

			<header class="hgroup-large">
				<h1 class="heading-large">Employ an apprentice</h1>
			</header>

			<section>
				<p>Hiring apprentices helps you encourage staff loyalty that’s motivated, skilled and qualified.</p>

				<p>This website lets you choose an apprenticeship and find out about funding.</p>
			</section>

			<section>
				<details>
	                <summary>What is an apprenticeship?</summary>
	                <div class="panel-indent" id="helpText" role="region" aria-hidden="false">

						<p>Apprenticeships combine practical, on-the-job training with study.</p>

						<p>They’re available to English businesses of all sizes and from all sectors.</p>

						<p>More than 100,000 employers use them to:</p>
						<ul class="list-bullet">
							<li>attract new talent</li>
							<li>increase productivity</li>
							<li>solve skills shortages</li>
						</ul>

						<p><a href="#">Learn more about apprenticeships</a></p>

					</div>
				</detail>
			</section>

			<section class="get-started">
				<a class="button" href="/employer/index2.html">How to employ an apprentice</a>
			</section>

		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>