---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">

		<article>

			<header class="hgroup-large">
				<h1 class="heading-large">How to employ an apprentice</h1>
				<p class="subtitle">There are six steps to taking on an apprentice</p>
			</header>

			<ol class="step-by-step-coloured">
				<li>
					<h3 class="heading-medium">Choose an apprenticeship</h3>
					<p>Look through the list of apprenticeships and pick one or more of them.</p>
					<p>Apprenticeships last from 1 to 4 years.</p>
					<div class="panel-indent">
						<p><a href="../employer/estimate-your-funding.html">Search for an apprenticeship</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Find out about funding</h3>
					<p>You may be entitled to funding for your apprenticeship.</p>
					<p>The amount depends on the apprentice’s age and the size of your business, among other things.</p>
					<div class="panel-indent">
						<p><a href="../employer/info-what-to-expect-from-government.html">Estimate your funding</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Find a training provider</h3>
					<p>Training providers are colleges or other organisations that carry out your apprentice’s training.</p>
					<p>Sometimes they’ll come to you to train your apprentice. At other times your apprentice will travel to them.</p>
					<div class="panel-indent">
						<p><a href="#" rel="external">Search for training providers</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Recruit your apprentice</h3>
					<p>Apprentices can be someone you already know, or someone new.</p>
					<p>Depending on factors like which standard you choose and where you’re based, your apprentice could join you within a few weeks.</p>
					<div class="panel-indent">
						<p><a href="#" rel="external">Find an apprentice</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Start the apprenticeship</h3>
					<p>As an employer you’ll have to agree to some simple terms and conditions</p>
					<p>They include asking your apprentice to sign an agreement, and meeting national minimum wage laws.</p>
					<div class="panel-indent">
						<p><a href="../employer/info-your-responsibilities.html">Read the terms and conditions</a></p>
					</div>
				</li>

				<li>
					<h3 class="heading-medium">Complete the apprenticeship</h3>
					<p>Apprentices must be assessed during their programme.</p>
					<p>You can look for assessment organisations yourself or let your training provider do it for you.</p>
					<div class="panel-indent">
						<p><a href="https://www.gov.uk/government/publications/register-of-apprentice-assessment-organisations" rel="external">Search for an assessment organisation</a></p>
					</div>
				</li>
			</ol>

			<section class="get-started">
				<a class="button" href="/employer/estimate-your-funding.html">Estimate your funding</a>
			</section>

		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>