---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>

		{{> estimate-funding-cta }}
		<article>
			<h2 class="heading-large">What to expect from your apprentice</h2>

            <p>Almost 96% of employers who hired an apprentice said their businesses had benefited.</p>

            <p>Apprentices have been found to:</p>
            <ul class="list-bullet">
                <li>learn new technologies quickly</li>
                <li>raise morale</li>
                <li>increase productivity</li>
                <li>improve the image of their employers</li>
                <li>lower staffing costs</li>
            </ul>

            <h3 class="heading-medium">What is your apprentice agreeing to?</h3>

            <p>By joining you, your apprentice is agreeing to:</p>

            <ul class="list-bullet">
                <li>complete the apprenticeship</li>
                <li>learn the skills needed for their job role</li>
                <li>sign an <a href="#">apprenticeship agreement</a></li>
                <li>sign a <a href="#">statement of commitment</a></li>
                <li>meet the English and maths requirements</li>
            </ul>

        </article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>