---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>

		{{> estimate-funding-cta }}
		<article>
			<h2 class="heading-large">Payments and funding</h2>

            <p>You may be entitled to funding and incentive payments for your apprenticeship.</p>

            <p>To estimate how much use the <a href="#">funding calculator</a>.</p>

            <p>You might also qualify for:</p>
            <ul class="list-bullet">
                <li>council funding</li>
                <li>AGE grants</li>
                <li>link grants</li>
            </ul>

            <h3 class="heading-medium">How do you pay apprenticeship fees?</p>

            <p>You pay apprenticeship fees by transferring cash to your training provider.</p>

            <p>You’ll need documentation to show each transfer’s been made.</p>

            <h3 class="heading-medium">How often do you need to pay?</h3>

            <p>There are no rules about when you should pay instalments.</p>

            <p>Some employers choose to pay:</p>
            <ul class="list-bullet">
                <li>monthly</li>
                <li>quarterly</li>
                <li>annually</li>
            </ul>

            <p>Your training provider will agree a payment schedule with you.</p>




		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>