---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>

		{{> estimate-funding-cta }}
		<article>
			<h2 class="heading-large">Your responsibilities as an employer</h2>

<p>When you hire apprentices, you’re agreeing to provide:</p>
<ul class="list-bullet">
	<li>meaningful work</li>
	<li>a salary</li>
	<li>time to train</li>
	<li>a contract</li>
	<li>an apprenticeship agreement</li>
</ul>

<h3 class="heading-medium">Pay and conditions</h3>

<p>You must pay your apprentice at least £2.73 an hour.</p> 

    <p>If they’re 19 or older and have completed their first year, they’re entitled to 
    national minimum wage.</p>

<h3 class="heading-medium">Training</h3>

<p>Apprentices need paid time off for training.</p>

    <p>This may be one day a week, or blocks of several days at once.</p>

<h3 class="heading-medium">Hours</h3>

<p>Most apprentices spend at least 30 hours a week with their employers.</p> 

    <p>They should be able to complete their apprenticeship inside their contracted hours.</p>


		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>  