---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>

		{{> estimate-funding-cta }}
		<article>
			<h2 class="heading-large">What to expect from training provider</h2>


            <p>Training providers support you when you employ an apprentice.</p>

            <h3 class="heading-medium">Recruitment</h3>

            <p>Providers often handle all or part of the recruitment process.</p>

            <p>They can:</p>
            <ul class="list-bullet">
                <li>advertise vacancies, by writing adverts or sending templates</li>
                <li>check candidates are eligible for apprenticeships</li>
                <li>shortlist candidates for interviews</li>
                <li>contact candidates after interviews</li>
                <li>register apprentices</li>
            </ul>

            <p>Some providers charge extra for these services.</p>

            <h3 class="heading-medium">Assessment</h3>

            <p>Your provider will work with you to find an assessment organisation.</p>

            <h3 class="heading-medium">Lead providers</h3>

            <p>If you’re using several providers, you’ll choose one of them to become the lead.</p>
            <p>Lead providers carry out important jobs like managing payments.</p>

            <h3 class="heading-medium">Payments and funding</h3>

            <p>All apprenticeship funding is routed through your lead provider, who’ll also:</p>
            <ul class="list-bullet">
                <li>tell you whether you’re eligible for incentive payments</li>
                <li>pass incentive payments to you</li>
                <li>send information about your apprenticeship to us</li>
                <li>pay other training providers on your behalf</li>
            </ul>

		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>