---
headerTitle: Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-2-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>

		<section class="get-started">
			<a class="button" href="/employer/estimate-your-funding.html">Estimate your funding</a>
		</section>
		<article>
			<h2 class="heading-large">Understand the roles of parties involved</h2>

<h3 class="heading-medium">An employer</h3>

<p>As an employer, you’ll choose an apprentice and work closely with them.</p>
<p><a href="#">What are your responsibilities?</a></p>

<h3 class="heading-medium">An apprentice</h3>

<p>Apprentices divide their time between working and training.</p>
<p><a href="#">What to expect from your apprentice?</a></p>

<h3 class="heading-medium">The government</h3>

<p>Our main role is to provide funding and incentive payments.</p>
<p><a href="#">What to expect from the government?</a></p>

<h3 class="heading-medium">Training providers</h3>

<p>Training providers teach apprentices the skills listed in apprenticeship standards.</p>
<p><a href="#">What to expect from your training provider?</a></p>

<h3 class="heading-medium">Assessment organisations</h3>

<p>Assessment organisations test apprentices on what they’ve learned.</p> 
<p>For more information about assessments speak to your training provider.</p>

		</article>
  	</main>
  	<div class="related-container grid grid-1-3">
		<div class="related">
	  		{{> info-links}}
  		</div>
  	</div>
</div>  