---
headerTitle: Employ an apprentice
tabTitle: job titles matching 'carpenter' - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header class="hgroup-large">
			<h1 class="heading-large">Job titles matching your criteria</h1>
			<p class="font-xsmall">There are <strong>2</strong> job types matching <em>carpenter</em>. <a href="/employer/estimate-your-funding-step2.html">Refine your search</a></p>
		</header>
		<ul class="list-text">
			<li class="section-border">
				<div>
					<header>
						<h2 class="heading-medium">Carpenters and joiners</h2>
					</header>
					<section class="section-border">
						<ul class="standards-list list-text">
							<li>
								{{> standard-detailed }}
							</li>
							<li>
								{{> standard-detailed }}
							</li>
						</ul>
					</section>
					<aside>
						<details>
	                        <summary aria-controls="helpText" role="button" aria-expanded="false">Other apprenticeships in <em>Carpenters and joiners</em></summary>
                            <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
								<ul class="standards-list standards-list-secondary list-text">
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
								</ul>
							</div>
						</details>
					</aside>
				</div>
			</li>
			<li  class="section-border">
				<div>
					<header>
						<h2 class="heading-medium">Elementary construction occupations</h2>
					</header>
					<section class="section-border">
						<ul class="standards-list list-text">
							<li>
								{{> standard-detailed }}
							</li>
							<li>
								{{> standard-detailed }}
							</li>
							<li>
								{{> standard-detailed }}
							</li>
						</ul>
					</section>
					<aside>
						<details>
	                        <summary aria-controls="helpText" role="button" aria-expanded="false">Other apprenticeships in <em>Elementary construction occupations</em></summary>
                            <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
								<ul class="standards-list standards-list-secondary list-text">
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
									<li>
										{{> standard-short }}
									</li>
								</ul>
							</div>
						</details>
					</aside>
				</div>
			</li>
		</ul>
  	</main>
</div>
