---
headerTitle: Employ an apprentice
tabTitle: Apprenticeships in legal services - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header class="hgroup-medium section-border">
			<h2 class="heading-medium">Apprenticeships in legal services</h2>
			<p class="font-small">There are <strong>2</strong> job types matching <em>carpenter</em>.</p>
			<p class="font-xsmall"><a href="/employer/estimate-your-funding-step2.html">&laquo; Refine your search</a></p>
		</header>

		<section>
			<ul class="standards-list list-text">
				<li class="section-border">
					<article>
				        <header>
				            <h3 class="heading-small"><a href="/employer/search-results-apprenticeship-details.html">Paralegal</a></h3>
				        </header>
				        <div class="grid-wrapper">
				            <section class="grid grid-2-3 standard-parameters">
			                    <p class="no-btm-margin">
			                        Level:
			                        <strong>3</strong>
			                        <em>(equivalent to A Level)</em>
			                    </p>
			                    <p class="no-btm-margin">
			                        Length:
			                        <strong>2 years</strong>
			                    </p>
			                    <p class="no-btm-margin">
			                        Average salary:
			                        <strong>&pound;14,000</strong> per annum
			                    </p>
			                    <p class="no-btm-margin">
			                        Estimated costs:
			                        <strong>&pound;27,000</strong> over 2 years
			                    </p>
				            </section>
 				        </div>
					</article>
				</li>

				<li class="section-border">
					<article>
				        <header>
				            <h3 class="heading-small"><a href="/employer/search-results-apprenticeship-details.html">Chartered legal executive</a></h3>
				        </header>
				        <div class="grid-wrapper">
				            <section class="grid grid-2-3 standard-parameters">
			                    <p class="no-btm-margin">
			                        Level:
			                        <strong>6</strong>
			                        <em>(equivalent to a degree)</em>
			                    </p>
			                    <p class="no-btm-margin">
			                        Length:
			                        <strong>5 years</strong>
			                    </p>
			                    <p class="no-btm-margin">
			                        Average salary:
			                        <strong>&pound;18,000</strong> per annum
			                    </p>
			                    <p class="no-btm-margin">
			                        Estimated costs:
			                        <strong>&pound;110,000</strong> over 5 years
			                    </p>
				            </section>
 				        </div>
					</article>
				</li>

				<li class="section-border">
					<article>
				        <header>
				            <h3 class="heading-small"><a href="/employer/search-results-apprenticeship-details.html">Solicitor</a></h3>
				        </header>
				        <div class="grid-wrapper">
				            <section class="grid grid-2-3 standard-parameters">
			                    <p class="no-btm-margin">
			                        Level:
			                        <strong>7</strong>
			                        <em>(equivalent to a masters degree)</em>
			                    </p>
			                    <p class="no-btm-margin">
			                        Length:
			                        <strong>5-6 years</strong>
			                    </p>
			                    <p class="no-btm-margin">
			                        Average salary:
			                        <strong>&pound;22,000</strong> per annum
			                    </p>
			                    <p class="no-btm-margin">
			                        Estimated costs:
			                        <strong>&pound;160,000</strong> over 5 years
			                    </p>
				            </section>
 				        </div>
					</article>
				</li>

			</ul>
		</section>
  	</main>
</div>
