---
headerTitle: Employ an apprentice
tabTitle: Apprenticeship standard for advanced carpentry and joinery - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header class="hgroup-large">
			<h1 class="heading-large">Employ an apprentice</h1>
		</header>
		<article>
			<header>
				<h2 class="heading-medium">Apprenticeship standard for advanced carpentry and joinery</h2>
			</header>

	         <section>
	            <details>
	                <summary aria-controls="helpText" role="button" aria-expanded="false"><strong>Learn more about this standard</strong></summary>
	                <div class="panel-indent" id="helpText" role="region" aria-hidden="true">
	                    <p>Actuarial technicians use statistics to predict how the finances of people and businesses will change. They carry out a number of jobs, from setting car insurance premiums to helping customers plan for retirement.</p>
	                    <p class="no-btm-margin">
	                        Estimated costs:
	                        <strong>&pound;4800</strong>
	                        <span class="font-xxsmall">(average funding: <strong>60%</strong>)</span>
	                    </p>
	                    <p class="no-btm-margin">
	                        Length:
	                        <strong>2 years</strong>
	                    </p>
	                    <p class="no-btm-margin">
	                        Level:
	                        <strong>4</strong>
	                    </p>

	                    <a href="../employer/standard-details.html">More details</a>
	                </div>
	            </details>
	        </section>

			<form id="apprenticesForm" method="GET" action="../employer/search-results-apprenticeship-standard-apprentices.html">
				<fieldset class="">
					<legend class="heading-medium">Pick a provider</legend>
				</fieldset>
                <section class="get-started">
                        <button type="submit" class="button">Hire an apprentice</button>
                </section>
			</form>
		</article>
  	</main>
</div>
