---
headerTitle: Employ an apprentice
tabTitle: job titles matching 'carpenter' - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header class="hgroup-large">
			<h1 class="heading-large">Job titles matching your criteria</h1>
			<p class="font-xsmall">There are <strong>2</strong> job types matching <em>carpenter</em>. <a href="/employer/estimate-your-funding-step2.html">Refine your search</a></p>
		</header>
		<ul class="list-text">
			<li class="section-border">
				<article>
					<header class="hgroup-medium">
						<h3 class="heading-medium">Carpenters and joiners</h3>
						<p><a href="/employer/search-results.html"><strong>7</strong> apprenticeship standards</a></p>
					</header>
				</article>
			</li>
			<li class="section-border">
				<article>
					<header class="hgroup-medium">
						<h3 class="heading-medium">Elementary construction occupations</h3>
						<p><a href="/employer/search-results.html"><strong>12</strong> apprenticeship standards</a></p>
					</header>
				</article>
			</li>
		</ul>
  	</main>
</div>