---
headerTitle: Employ an apprentice
tabTitle: Carpenters / Carpenters and joiners - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<article>
			<header>
				<p class="font-xsmall"><a href="/employer/search-mid-results.html">Select another job description</a></p>
				<h1 class="heading-large">Carpenters / Carpenters and joiners</h1>
			</header>
			<ul class="list-text standards-list">
				<li class="section-border">
					<header>
						<h2 class="heading-medium"><a href="/employer/standard-details.html">Apprenticeship standard for advanced carpentry and joinery</a></h2>
					</header>
					{{> standard-short}}
				</li>
				<li class="grid-wrapper section-border">
					<header>
						<h2 class="heading-medium"><a href="/employer/standard-details.html">Apprenticeship standard for a craftsperson</a></h2>
					</header>
					{{> standard-short}}
				</li>
			</ul>
			<h3 class="heading-medium">Similar results</h3>
			<ul class="list-text standards-list">
				<li class="grid-wrapper">
					<header>
						<h3 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for carpentry and joinery</a></h3>
					</header>
					{{!-- {{> standard-short}} --}}
				</li>
				<li class="grid-wrapper">
					<header>
						<h3 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for a building services engineering craftsperson</a></h3>
					</header>
					{{!-- {{> standard-short}} --}}
				</li>
			</ul>
		</article>
  	</main>
</div>