---
headerTitle: Employ an apprentice
tabTitle: Carpenters / Carpenters and joiners - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>
		<article>
			<h2 class="heading-large">Carpenters / Carpenters and joiners</h2>
			<p class="font-xsmall"><a href="/employer/search-mid-results.html">Select another job description</a></p>
			<ul class="list-text standards-list">
				<li>
					<h4 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for advanced carpentry and joinery</h4></a>
					<p class="description">Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
					<ul class="details">
						<li class="timeframe"></li>
					</ul>
					
				</li>
				<li>
					<h4 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for a craftsperson</a></h4>
				</li>
				<li>
					<h4 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for carpentry and joinery</a></h4>
				</li>
				<li>
					<h4 class="heading-small"><a href="/employer/standard-details.html">Apprenticeship standard for a building services engineering craftsperson</a></h4>
				</li>
			</ul>
		</article>
  	</main>
</div>  