---
headerTitle: Employ an apprentice
tabTitle: Apprenticeship standard for advanced carpentry and joinery - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header class="hgroup-large">
			<h1 class="heading-large">Employ an apprentice</h1>
		</header>
		<article>
			<header>
				<h2 class="heading-medium">Apprenticeship standard for advanced carpentry and joinery</h2>
			</header>
		</article>
  	</main>
</div>
