---
headerTitle: Employer Routed Funding
tabTitle: Apprenticeship standard for advanced carpentry and joinery - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>
		<article>
			<h2 class="heading-large">Apprenticeship standard for advanced carpentry and joinery</h2>
			<p class="font-xsmall"><a href="/employer/search-results.html">Select another standard</a></p>

			<h3 class="heading-medium">What does an actuarial technician do?</h3>

			<h3 class="heading-medium">What skills do actuarial technicians need?</h3>

			<h3 class="heading-medium">What does the apprenticeship involve?</h3>

			<h3 class="heading-medium">What skills will apprentices learn?</h3>

			<h3 class="heading-medium">What qualifications does the apprenticeship lead to?</h3>

			<h3 class="heading-medium">How long does the apprenticeship last?</h3>

			<h3 class="heading-medium">How do you apply?</h3>
		</article>
  	</main>
</div>  