---
headerTitle: Employ an apprentice
tabTitle: Apprenticeship standard for advanced carpentry and joinery - Employ an apprentice
---

<div class="grid-wrapper">
  	<main role="main" class="grid grid-3-3">
		<header>
			<h1 class="heading-xlarge">Employ an apprentice</h1>
		</header>
		<p class="font-xsmall"><a href="/employer/search-results.html">Select another standard</a></p>
		<article class="standard-details grid-wrapper">
			<header class="grid grid-2-3">
				<h2 class="heading-large">Apprenticeship standard for advanced carpentry and joinery</h2>
			</header>

			<div class="grid grid-2-3">

				<section id="description" class="grid-wrapper">
					<h3 class="heading-medium">What does an actuarial technician do?</h3>
					<p>Actuarial technicians use statistics to predict how the finances of people and businesses will change. They carry out a number of jobs, from setting car insurance premiums to helping customers plan for retirement.</p>
					<section class="panel-indent">
						<p>They might be asked to:</p>
						<ul class="list-bullet">
							<li>check figures to make sure they’re accurate</li>
							<li>create spreadsheets and data models for reports</li>
							<li>understand hot topics that affect the industry</li>
							<li>support other members of the actuarial team</li>
							<li>test and develop new systems</li>
						</ul>
					</section>
				</section>

				<section id="required-skills">
					<h3 class="heading-medium">What skills do actuarial technicians need?</h3>
					<p>Actuarial technicians need to be comfortable:</p>
					<ul class="list-bullet">
						<li>working with numbers</li>
						<li>meeting tight deadlines</li>
						<li>earning to use software quickly</li>
						<li>thinking logically</li>
						<li>dealing with clients</li>
						<li>paying attention to details</li>
					</ul>
				</section>


				<section id="apprenticeship-involves">
					<h3 class="heading-medium">What does the apprenticeship involve?</h3>
					<p>Apprentices work with teams of actuaries to build mathematical models.</p>
					<p>The programme is built around on-the-job training, but also involves studying for professional exams. It’s the start of a career in the industry.</p>
					<section class="panel-indent">
						<p><a href="#">Apprenticeship pay and holidays</a>.</p>
					</section>
				</section>


				<section id="entry-requirements">
					<h3 class="heading-medium">What are the entry requirements?</h3>
					<p>Employers can choose their own entry requirements.</p>
				</section>


				<section id="skills-apprentices-learn">
					<h3 class="heading-medium">What skills will apprentices learn?</h3>
					<p>Apprentices will learn skills including:</p>
					<ul class="list-bullet">
						<li>how actuarial software, technology and tools can be used</li>
						<li>the structure of the financial services market</li>
						<li>the industry’s professional requirements</li>
					</ul>
					<section class="panel-indent">
						<p>For a full list <a href="#">download the standard (PDF, 268KB)</a>.</p>
					</section>
				</section>


				<section id="english-and-math-requirements">
					<h3 class="heading-medium">What are the English and maths requirements?</h3>
					<p>Apprentices must have passed Level 2 English and maths before their final assessment, if they don’t have the qualifications already.</p>
				</section>


				<!--section id="apply">
					<h3 class="heading-medium">How do you apply?</h3>
					<p>Apply through <a href="#">Find an apprenticeship</a>.</p>
				</section-->
			</div>
			<div class="grid grid-1-3">
				<section id="timeframe" class="section-border">
					<h3 class="heading-small">How long does the apprenticeship last?</h3>
					<p>The apprenticeship usually takes <strong>2-3 years</strong>.</p>
				</section>

				<section id="qualifications" class="section-border">
					<h3 class="heading-small">What qualifications does the apprenticeship lead to?</h3>
					<p>This is a <a href="#">level 4 apprenticeship.</a></p>
					<p>Apprentices who complete it also become members of the Institute and Faculty of Actuaries.</p>
				</section>
				<section class="panel-indent">
					<p><a href="#">Download the standard (PDF, 268KB)</a>.</p>
				</section>

				<a href="#" class="button">Find providers</a>
			</div>
		</article>
  	</main>
</div>